body {
}

.card {
  position: relative;
  width: 120px;
  height: 180px;
  border: solid 1px;
  border-radius: 8px;
}

.card-small {
  position: relative;
  width: 60px;
  height: 90px;
  border: solid 1px;
  border-radius: 8px;
}
