!!!
%html(lang="en" data-framework="hyalite")
  %head
    %link{rel:"stylesheet", href:"assets/css/application.css"}
  %body
    %h1 Daifugo

    .playingCards.faceImages
      %ul.table
        %li
          %a.card.rank-k.hearts
            %span.rank K
            %span.suit &hearts;
